.mau-xanh{
    color: blue;
    text-align: center;
}
.mau-do{
    color: red;
    background-color: black;
    font-family: Calibri;
  }
  .co-chu{
    font-size: 50px;
  }
.image{
    width: 100%;
    text-align: center;
}
 
