.carousel-inner img {
    width: 100%;
    height: 100%;
}

.hh1 {
    background-image: url('/image/anh7.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
}

.hh2 {
    background-image: url('/image/anh8.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
}

.hh3 {
    background-image: url('/image/anh9.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
}

.content {
    margin-top: 100px;
}