 .h1 {
     background-image: url('/13-2018-12-20/image/anh1.jpg');
     background-size: cover;
     background-position: center;
     height: 600px;
 }
 
 .h2 {
     background-image: url('/13-2018-12-20/image/anh2.jpg');
     background-position: center;
     background-size: cover;
     height: 600px;
 }
 
 .h3 {
     background-image: url('/13-2018-12-20/image/anh3.jpg');
     background-position: center;
     background-size: cover;
     height: 600px;
 }
 
 .card-img-top {
     height: 300px;
 }