<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Grid Example</title>
     
      <link rel="stylesheet" href="./styles.css">
     
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     
  
  
    </head>
   <body>
      <div class= "container ">
         <div class="row  bg-danger">
             <p>row 1</p>
         </div>
         <div class= "row  bg-info">
            <div class ="col-md-4 bg-primary">
               <p> column 1   </p>
            </div>
            <div class ="col-md-4  bg-success">
               <p>column 2 </p>
            </div>
            <div class="col-md-4 bg-primary"> 
               <p>column 3 </p> </div>
         </div>
         <div class="row  bg-info">
            <p>row 3</p>
         </div>
         <div class="row  bg-secondary">
            <div class ="col-md-8 bg-green">
               <p>column 1</p>
            </div>
            <div class ="col-md-4 bg-primary">
               <p>column 2</p>
            </div>
         
         </div>
         <div class="row  bg-green">
                <div class ="col-md-6 bg-primary">
                <p>column 1</p>
             </div>
             <div class ="col-md-6 bg-success">
                <p>column 2</p>
             </div>
              </div>
         <div class="row  bg-warning">
            <p>row 6</p>

         </div>
      </div>
 
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   </body>
</html>